<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Welcome to {{name}}</h1>
    <br>
    
    <form action="/prediction">
   
    <br></br>
    {%for box in range(1)%}
    <input name="uuid" type="text" placeholder="Enter UUID" required>
    <br></br>
    {% endfor %}
    <input type="submit" value="Show Prediction">
    </form>

</body>
</html>
